/* anvender tailwind css for min kod */
@import "tailwindcss";


/* vikitga ferger  */
:root {
    --color-LightPink: #f39e9d;
    --color-DarkOrange: #eb575f;
    --color-DarkCyan: #1b6972;
    --color-DarkBlue: #203642;

}
body {
    animation-name: fadeIn;
    animation-duration: 700ms;
}
/* fade in animation for varje gong man oppnar en ny sida */
@keyframes fadeIn {
    0% {
        opacity: 0
    } 100% {
        opacity: 100%;
    }
}

footer div{
    background-color: #1b6972;
}

footer svg:hover {
    background-color: #1b6972;
    color:#eb575f;
}

h1, li {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

form {
    background-color: white;
    display: flex;
    justify-content: center;
}


p{ 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
}


div li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: 500ms;

}

div li:hover {
    color: white;
    z-index: 10000;
}

div li::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    height: 100%;
    left: 0%;
    width: 0%;
    background-color: var(--color-DarkCyan);
    transition: 300ms;

}

.planeterVal {

    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 200ms;
    width: 150px;

}

#planets {
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}

.planeterVal h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

}

.planeterVal:hover  {

    scale: 1.1;
    background-color: #1b6972;
    color: white
}

.planeterVal img {
    width: 250px;
}

div li::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    height: 100%;
    z-index: -1;
    width: 0%;
    transform: rotate(360deg);
    background-color: var(--color-DarkCyan);
    transition: 300ms;
}

div li:hover::before {
    width: 50%;
}

div li:hover::after {
    left: 50%;
    width: 50%;
    
}

div li:nth-child(7) {

    background-color: var(--color-DarkCyan);

}
#burgerMenu {
    display: none;
}

@media (max-width:880px) {
    header div li{
        display: none;
        opacity: 0;
    }
    header div li:nth-child(7) {
        display: block;
        opacity: 1;
        white-space: nowrap;
    }
    #burgerMenu {
        display: block;
        margin-right: 15px;
    }
    header {
        justify-content:right;
    }header img {
        margin-right: auto;
    }
    header div li:nth-child(7)::after {
        display: none;
    }
    header div li:nth-child(7)::before {
        display: none;
    }
    header div {
        background-color: #1b6972;
        width: 12%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .planeterVal {
        width: 80%;
    }
    #planets {

        justify-content: center;
        padding: 0%;
    }

} 

.planeterVal img {
    height: 100%;
    scale: 0.8;
}