@import "tailwindcss";

:root {
    --color-LightPink: #f39e9d;
    --color-DarkOrange: #eb575f;
    --color-DarkCyan: #1b6972;
    --color-DarkBlue: #203642;

}


h1, li {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

p{ 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
}


div li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: 500ms;

}

div li:hover {
    color: white;
    z-index: 10000;
}

div li::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    height: 100%;
    left: 0%;
    width: 0%;
    background-color: var(--color-DarkCyan);
    transition: 300ms;

}

.planeterVal {

    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms;
}

.planeterVal:hover  {

    background-color: rgba(128, 128, 128, 0.211) ;
}

.planeterVal img {
    width: 250px;
}

div li::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    height: 100%;
    z-index: -1;
    width: 0%;
    transform: rotate(360deg);
    background-color: var(--color-DarkCyan);
    transition: 300ms;
}

div li:hover::before {
    width: 50%;
}

div li:hover::after {
    left: 50%;
    width: 50%;
    
}

div li:nth-child(7) {

    background-color: var(--color-DarkCyan);

}
